{% extends "base.html" %}

{% block content %}
<div class="content-box">
    <h1 style="color: #FF8C00;">О проекте FoodTracker</h1>
    <p>Добро пожаловать в кулинарное сообщество! Здесь вы можете:</p>
    <ul>
        <li>Делиться своими рецептами</li>
        <li>Искать блюда по <!-- about.html -->
{% extends "base.html" %}

{% block content %}
<!-- Страница "О проекте" с краткой информацией -->
<div class="content-box">
    <h1 style="color: #FF8C00;">О проекте FoodTracker</h1>
    <!-- Описание возможностей проекта -->
    <p>Добро пожаловать в кулинарное сообщество! Здесь вы можете:</p>
    <ul>
        <!-- Список возможностей -->
    </ul>
</div>
{% endblock %}категориям</li>
        <li>Читать полезные статьи</li>
    </ul>
</div>
{% endblock %}